body {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}


p {
    margin-top: 10px; /* Add margin to the top of the h1 */
    margin-bottom: 30px; /* Add margin to the bottom of the h1 */
}

.container {
    text-align: center;
    padding-top: 0%;
    max-width: 600px;
    margin: 0 auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
}

img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#frame {
    z-index: -1;
    width: 370%;
    margin-top: -630px;
    margin-left: -97px;
}

#img1 {
    grid-row: 1; 
    grid-column: 1; 
    margin-left: -49px; 
    width: 126%;
}

#img2 {
    grid-row: 1; 
    grid-column: 2; 
    margin-left: 0px; 
    width: 100%;
}   

#img3 {
    width: 97%;
} 

#img4 {
    grid-row: 2; 
    grid-column: 1; 
    margin-top: -112px; 
    margin-left: -30px;
    width: 105%;
} 

#img5 {
    grid-row: 2; 
    grid-column: 2; 
    margin-top: -0px; 
    margin-left: 3px;
    width: 98%;
}     

#img6 {
    margin-top: -103px;
    width: 96%;
    margin-left: 1px;
}

#img7 {
    width: 127%;
    margin-left: -51px;
    margin-top: 1px;
}

#img8 {
    width: 98%;
    margin-top: 1px;
    margin-left: 2px;
}

#img9 {
    width: 98%;
    margin-left: -1px;
    margin-top: 1px;
}